<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504549063611-p4feius5uaishi99o38bv41k501em0vu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504549063611-p4feius5uaishi99o38bv41k501em0vu</string>
	<key>API_KEY</key>
	<string>AIzaSyCeGYq3zXLAbczjSu3LSRDv_tQcnpfCMwM</string>
	<key>GCM_SENDER_ID</key>
	<string>504549063611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abbos.SmartHolidays</string>
	<key>PROJECT_ID</key>
	<string>smart-holidays-83fc0</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-holidays-83fc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504549063611:ios:b14356fbe481f70bef229e</string>
	<key>DATABASE_URL</key>
	<string>https://smart-holidays-83fc0.firebaseio.com</string>
</dict>
</plist>